/* Cascating Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialised;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url(images/background.svg);
    width: 375px;
    height: 812px;
}

.container {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;

    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar>img {
    /*pegar o primeiro nivel, ex: img, segundo nivel span>img*/
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    color: white;
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a {
    color: var(--gray);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin-top: .25rem;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
}